body {
    margin: 0;
    font-family: "Roboto Condensed", "Ubuntu", "Cantarell", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

dl,
li,
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}